/// Thin (Hairline)
$weight-hairline: 100;
$weight-thin: $weight-hairline;
/// Extra Light (Ultra Light)
$weight-extra-light: 200;
$weight-ultra-light: $weight-extra-light;
/// Light
$weight-light: 300;
/// Normal
$weight-normal: normal;
/// Medium
$weight-medium: 500;
/// Semi Bold (Demi Bold)
$weight-semi-bold: 600;
/// Bold
$weight-bold: bold;
/// Extra Bold (Ultra Bold)
$weight-extra-bold: 800;
$weight-ultra-bold: $weight-extra-bold;
/// Black (Heavy)
$weight-black: 900;
$weight-heavy: $weight-black;
